
DATABASE_URL="postgresql://username:password@localhost:5432/postgres"
PORT=8000
JWT_SECRET="secret"
NODE_ENV="dev"

REDIS_URL="redis://localhost:6379"
REDIS_HOST=""
REDIS_PORT=""
REDIS_USERNAME=""
REDIS_PASSWORD=""